examples-venv/

benchmark/*.csv
benchmark/*.json
!benchmark/worker_function_benchmarks.json

scaling/*.json

basic-trace/*.json
basic-trace/output-in.csv

azure/
azure-trace/*.csv
azure-trace/*.json

cluster-trace/*.json
cluster-trace/*.csv
cluster-trace/example-ssh*

simulation-trace/*.log
simulation-trace/*.csv
simulation-trace/*.json

detailed-spans/*.log
detailed-spans/*.csv
!detailed-spans/in.csv
!detailed-spans/meta.csv
detailed-spans/*.json
detailed-spans/*.png
!detailed-spans/example-timeline.png

paper-repro/results

results/
temp-results/
*.json
*.csv