ilúvatar_worker_cli/src/worker.dev*json
ilúvatar_worker_cli/tests/resources/worker.dev*json
ilúvatar_worker/src/worker.dev*json
ilúvatar_worker_library/tests/resources/worker.dev*json
ilúvatar_controller/src/controller.dev*json
target/
**.swp
.vscode/