
CC = nvcc
CXX = nvcc
NVCC = nvcc
LINKER = nvcc

LINKER_FLAGS = -lcudart -lcuda -lm -O3 -lgomp
CC_FLAGS = -O3 -lgomp
CXX_FLAGS = -O3 -lgomp
NVCC_FLAGS = -O3 -lgomp


COMPILER_NAME = nvcc

POLYGEIST_DIR=/rodinia/build.release/
POLYGEIST_LLVM_DIR=/rodinia/mlir-build.release/
CUDA_PATH = /usr/local/cuda-11
CUDA_SAMPLES_PATH = /samples
CPUCUDA_BUILD_DIR = /rodinia/cpucuda_runtime/build/

#include $(current_dir)/common.polygeist.host.make.config

