
mkfile_path := $(abspath $(lastword $(MAKEFILE_LIST)))
current_dir := $(dir $(mkfile_path))

CC = gcc
CXX = g++
LINKER = gcc

LINKER_FLAGS = -O3 -fopenmp -lm
CC_FLAGS = -O3 -fopenmp -lm
CXX_FLAGS = -O3 -fopenmp -lm

# include the timing header
FLAGS_TO_ADD = -I$(current_dir)/ -include my_timing.h -include my_verification.h
FLAGS_TO_ADD += -D_MY_IS_NOT_CUDA_
FLAGS_TO_ADD += -D_MY_COMPILER_NAME_=\"$(COMPILER_NAME)\"

#MY_ADDITIONAL_FLAGS := $(FLAGS_TO_ADD)

CC_FLAGS += $(FLAGS_TO_ADD)
CXX_FLAGS += $(FLAGS_TO_ADD)

